.classpath
.project
.settings
.directory

src/main/resources/training/
src/main/resources/cache
src/main/resources/defacto.ini
.idea/
data_for_installation/
.settings/
cache/
target
log/info.log
log/factConfirmation.html
repo/
data/resources
data/machinelearning
data/results/*
!data/results/final

**/.DS_Store
.vscode/
.factorypath
